body{
    background-image: linear-gradient(to right, #2F80ED, #1CB5E0); 
    padding: 1rem;
    width: 50%; 
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.container{
    padding: 1rem; 
    width: 100%; 
    border-radius: 0.375rem; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
    background-color: rgb(241 245 249);
 } 

.heading{
    padding: 0.5rem; 
    color: #1F2937; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 700; 
    text-align: center; 
}

.form{
    display: flex; 
    justify-content: space-between; 
}

.input{
    padding: 0.5rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    width: 100%; 
    border-width: 1px; 
}

.button{
    padding: 0.5rem; 
    margin-left: 0.5rem; 
    background-color: #8B5CF6; 
    border-width: 1px; 

}

.count{
    padding: 0.5rem; 
    text-align: center; 
    font-size: 25px;
}

.li{
    display: flex; 
    padding: 0.5rem; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    text-transform: capitalize; 
    justify-content: space-between; 
    background-color: rgb(203 213 225);
}

.licomplete{
    display: flex; 
    padding: 1rem; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    text-transform: capitalize; 
    justify-content: space-between; 
    background-color: rgb(100 116 139);
}

.row{
    display: flex; 
}

.text{
    margin-left: 0.5rem; 
    cursor: pointer; 
}

.textComplete{
    margin-left: 0.5rem; 
    font-size:20px;
    cursor: pointer; 

}

.button2{
    display: flex; 
    align-items: center; 
    cursor: pointer; 
}